.header h1,
.header .breadcrumb {
   text-align: center;
}
.book {
       border-bottom: 1px solid rgb(...);
.book .addbtn,
.searchBar input[type=submit] {
--padding: 8px 10px;
--border-radius: 5px;
--min-width: 80px;
--float: right;
--font-size: 1.1em;
}
.book .addbtn {
background-color: rgb(79, 149, 255);
}
.main-container{
   padding: 30px  
}

*{
   box-sizing: border-box;
   }
      .searchBar form {
         width: 100%;
         padding-bottom: 20px;
         border-bottom: 1px solid #dbdbdb;
   }
       .searchBar input[type=text] {
           border-radius: 5px;
           padding: 5px 10px;
           color: #000;
               font-size: 1.3em;
               border: 2px solid #9e9e9e;
               width: 80%;
               margin-right: 5px;
   }
